@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-principal: #111;
    --bg-secundaria: #2D2D2D;
    --cor-destaque: #E08E00;
    --cor-segundária: #0F99FF;
    --cor-page: #FF0066;
    --cor-desc: #747474;
    --font-color-principal: #fff;
    --font-titulo: 'Bebas Neue', cursive;
    --font-destaque: 'Montserrat', sans-serif;
    --font-principal: 'Roboto', sans-serif;
    font-size: 10px;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #111111;
}

*::-webkit-scrollbar-thumb {
    background-color: #e08e00;
    border-radius: 10px;
    border: 2px solid #2d2d2d;
}

body {
    background-color: var(--bg-principal);
    color: var(--font-color-principal);
    font-family: var(--font-principal);
    overflow-x: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--font-principal);
    text-decoration: none;
}

header {
    background-color: var(--bg-secundaria);
    display: flex;
    align-items: flex-end;
}

header a:first-of-type {
    display: flex;
    align-items: center;
}

h1 {
    color: var(--cor-destaque);
    font-family: var(--font-titulo);
    text-transform: uppercase;
    font-size: 4.8rem;
}

h2 {
    font-size: 1.8rem;
    font-family: var(--font-principal);
    font-weight: 700;
    border-left: 4px solid var(--cor-destaque);
    margin: 1.6rem;
    padding-left: .4rem;
}

.cast {
    margin: 3rem 0rem 0rem 3rem;
}

.iconFilm {
    color: var(--cor-segundária);
    font-size: 5.5rem !important;
}

nav li {
    list-style: none;
    margin: 1rem 5rem;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
}

.section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#actors {
    margin-top: 1.6rem;
    margin-left: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

#hero {
    height: 20rem;
    width: 100%;
    position: relative;
}

#hero::before {
    width: 100%;
    height: 100%;
    content: '';
    background-image: url("https://cdn.fstatic.com/public/articles/files/2013/04/22-04_a%C3%A7%C3%A3o.jpg");
    position: absolute;
    background-size: cover;
    filter: opacity(.4);
    z-index: -1;
    box-shadow: inset 0 -100px 100px var(--bg-principal);
    transform: scale(1);
    animation: zoom 10s;
}

@keyframes zoom {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

#hero p {
    font-size: 3.6rem;
    font-family: var(--font-destaque);
    padding-left: 4.8rem;
    padding-top: 4.8rem;
    text-shadow: 2px 2px 2px #111;
}

#heroPage {
    height: 30rem;
    width: 100%;
    position: relative;
    display: flex;
}

#heroPage::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-size: cover;
    filter: opacity(.4);
    z-index: -1;
    box-shadow: inset 0 -100px 100px var(--bg-principal);
    transform: scale(1);
}

#heroPage p {
    font-size: 3.6rem;
    font-family: var(--font-destaque);
    padding-left: 4.8rem;
    padding-top: 4.8rem;
    text-shadow: 2px 2px 2px #111;
}

.minions2::before {
    background-image: url("	https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/nmGWzTLMXy9x7mKd8NKPLmHtWGa.jpg");
}

.jujutsuKaisen0::before {
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/geYUecpFI2AonDLhjyK9zoVFcMv.jpg");
}

.doctorStrange2::before {
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/wcKFYIiVDvRURrzglV9kGu7fpfY.jpg");
}

.topGun::before {
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/odJ4hx6g6vBt4lBWKFD1tI8WS4x.jpg");
}

.thor4::before {
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/jsoz1HlxczSuTx0mDl2h0lxy36l.jpg");
}

.detalhes {
    display: flex;
    flex-direction: column;
}

.detalhes img {
    border-radius: 5px;
}

#heroPage .detalhes p:nth-of-type(1) {
    font-size: 3.6rem;
}

#heroPage .detalhes p:nth-of-type(2) {
    font-size: 1.4rem;
    width: 70%;
    height: 100%;
    filter: opacity(.7);
    text-align: justify;
}

#heroPage img {
    margin: 3rem;
    position: relative;
}

.detalhesMedia {
    display: none;
}

h3 {
    font-size: 1.8rem;
    font-family: var(--font-principal);
    font-weight: 700;
    border-left: 4px solid var(--cor-page);
    margin: 1.6rem;
    margin-top: 1rem;
    padding-left: .4rem;
}

.card {
    width: 180px;
    background-color: var(--bg-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    position: relative;
    border-radius: 10px;
}

.card .iconFav {
    position: absolute;
    font-size: 2rem;
    right: .5rem;
    top: .5rem;
    text-shadow: 2px 2px 2px #000;
    filter: opacity(0);
    transition: filter .5s;
}

.card:hover .iconFav {
    filter: opacity(1);
}

.card img {
    width: 100%;
    cursor: pointer;
    transition: filter .5s;
    border-radius: 10px 10px 0 0;
}

.card img:hover {
    filter: opacity(.7);
}

.card p:first-of-type {
    font-size: 1.6rem;
    font-family: var(--font-principal);
    font-weight: bold;
    margin-top: .5rem;
}

.card p:nth-of-type(2) {
    font-size: 1.4rem;
    color: var(--cor-desc);
    margin-top: .5rem;
}

.button {
    background-color: var(--cor-segundária);
    font-size: 1.4rem;
    font-family: var(--font-destaque);
    border-radius: 5px;
    padding: .5rem 2rem;
    margin: 1rem;
    transition: box-shadow .5s ease-in-out;
}

.button:hover {
    box-shadow: 0px 0px 8px #fff;
}

.buttons {
    margin-top: 3rem;
}

.buttonPage {
    background-color: var(--cor-page);
    font-size: 1.4rem;
    font-family: var(--font-destaque);
    border-radius: 5px;
    padding: .5rem 2rem;
    margin: 1rem;
    margin-left: 3rem;
    transition: box-shadow .5s ease-in-out;
}

.buttonPage:hover {
    box-shadow: 0px 0px 8px #fff;
}

.icon {
    position: absolute;
    font-size: 2rem;
    margin-top: -.4rem;
    margin-left: -2rem;
}

.actor {
    width: 14.3rem;
    height: 16.5rem;
    background-color: var(--bg-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-top: 5.5rem;
    position: relative;
    border-radius: 5px;
}

.actor img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    cursor: pointer;
    top: -5.5rem;
    position: relative;
    border-radius: 100%;
    border: 4px solid white;
}

.actor p:first-of-type {
    font-size: 1.6rem;
    font-family: var(--font-principal);
    font-weight: bold;
    margin-top: -4rem;
}

.actor p:nth-of-type(2) {
    font-size: 1.6rem;
    color: var(--cor-desc);
    margin-top: 2rem;
}

.ficha {
    width: 20rem;
    height: 41rem;
    background-color: var(--bg-secundaria);
    margin: 1rem;
    margin-top: -13.6rem;
    position: relative;
    border-radius: 5px;
}

.ficha p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ficha p:nth-of-type(odd) {
    font-size: 1.6rem;
    font-family: var(--font-principal);
    font-weight: bold;
    margin-top: 1.5rem;
}

.ficha p:nth-of-type(even) {
    font-size: 1.4rem;
    color: var(--cor-desc);
    margin-top: 1rem;
}

.aboutBG {
    background-image: url('https://as2.ftcdn.net/v2/jpg/01/78/78/51/1000_F_178785137_NWQ75rDuY7JLpyhPX7uZkn1xj19jon71.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 40px 50px var(--bg-principal);
    transform: scale(1);
}

#descAbout {
    background-color: var(--cor-desc);
    border-radius: 50px;
    padding: 1rem;
    margin: 2rem;
    font-family: var(--font-destaque);
    font-size: 2rem;
    bottom: 0rem;
    text-shadow: 2px 2px 2px #111;
}

#staffInfo {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.staffAbout {
    width: 30rem;
    height: 30rem;
    border-radius: .5rem;
    justify-content: space-around;
    font-family: var(--font-destaque);
    font-size: 2rem;
}

.back {
    background-color: var(--cor-destaque);
    filter: opacity(.9);
    border-radius: 25px;
    text-shadow: 2px 2px 2px #111;
    margin: 0 5rem;
}

.staffAbout p:nth-of-type(2) {
    margin-top: 10px;
    font-family: var(--font-principal);
    font-size: 1.5rem;
    padding-bottom: .2rem;
    color: #2D2D2D;
    text-shadow: 1px 1px 1px #111;
}

.staffAbout img {
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    object-fit: cover;
    transition: filter .5s;
    border-radius: 100%;
    border: 4px solid white;
}

.staffAbout:first-of-type img {
    border-color: #FF0066;
}

.staffAbout:last-of-type img {
    border-color: #0F99FF;
}

@media (max-width: 1090px) {
    #heroPage {
        height: initial;
    }

    .ficha {
        margin-top: -11.6em;
    }
}

@media (max-width: 820px) {
    .ficha {
        height: 47rem;
    }
}

@media (max-width: 700px) {
    #heroPage {
        height: inherit;
    }
}

@media (max-width: 625px) {
    #heroPage .detalhes p {
        padding-left: 1rem;
        padding-top: 2rem;
    }

    #heroPage .detalhes p:nth-of-type(2) {
        width: 90%;
    }
}

@media (max-width: 580px) {
    .ficha {
        margin-top: inherit;
    }
}